:root {
    --width-button-unlogin: 100px;
    --border-radius: 10px;
    --background-container: rgb(75, 75, 110);
    --bacgkround-scroll-bar: #130631; 
    --bacgkround-scroll-bar: #130631; 
    --background-textarea: rgb(119, 113, 151);
    --background-textarea-new-todo: rgba(119, 113, 151, 0.40);
    --background-button: rgba(13, 5, 54, 0.5);
    --invisble: rgba(0,0,0,0);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(145, 143, 155);
}

.header {
    margin: 0;
    background-color: rgb(87, 97, 105);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div {
  width: var( --width-button-unlogin);
}

.title {
    color: white;
    display: block;
    text-align: center;
}

.button-to-unlog {
    padding: 5px 18px;
    width: var( --width-button-unlogin);
    color: rgb(212, 212, 212);
    background-color: rgb(36, 33, 54)
}

.button-to-unlog:hover {
    padding: 5px 18px;
    background-color: rgb(48, 48, 79)
}

.gradient-border {
    --border-width: 3px;
    margin: 0 auto;
    margin-top: 5vh;
    position: relative;
    width: 40vw;
    height: 80vh;
    font-family: Lato, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    
    background: var(--background-container);
    border-radius: var(--border-radius);
  
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: 10px;
      animation: moveGradient 4s alternate infinite;
    }
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }

  .overflow-hidden {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
  }
  
  #container {
    width: 100%;
    height: 100%;
    overflow: auto;
    /*scrollbar-color: rgb(18, 5, 43) rgb(6, 23, 119);*/
}

::-webkit-scrollbar {
    width: 9px;
    background-color: var(--background-container);
  }

  

  #container ::-webkit-scrollbar {
    width: 12px;
    height: 3px;
    background-color: #0d0146;
    color: #000;
  }
  
  #container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #2b136d;
    color: #000;
  }

  #container::-webkit-scrollbar-thumb:hover {
    background-color: #472f88;
}

  #container::-moz-scrollbar-button, #container::-webkit-scrollbar-button {
    display: none;
   }

.overflow-hidden {
    overflow: hidden;
}

  textarea {
    padding: 0;
    padding: 0 5px;;
    resize: none;
    height: 5%;
    width: 90%; max-width: 90%;
    border: none;
    outline: none;
    white-space: nowrap;
    background-color: var(--background-textarea);
    border-radius: var(--border-radius);
    overflow-y: hidden;
    overflow-x: auto;
  }

  .textarea ::-webkit-scrollbar {
    width: 12px;
    height: 3px;
    background-color: #0f0131;
  }
  
  .textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #381794;
  }

  .row {
    display: flex;
    width: 100%;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    align-items: center;
  }

  .row input {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background-color: red;
  }


  .close {
    overflow: hidden;
    position: relative;
    border: none;
    padding: 0 4px;
    width: 20px; height: 20px;
    border-radius: 50%;
    background: transparent;
    color: #1da1f2;
    font: inherit;
    text-indent: 100%;
    cursor: pointer;
    
    &:focus {
      outline: solid 0 transparent;
      box-shadow: 0 0 0 2px #8ed0f9
    }
    
    &:hover {
      background: rgba(29, 161, 142, .1)
    }
    
    &:before, &:after {
      position: absolute;
      top: 15%; left: calc(50% - .0625em);
      width: .125em; height: 70%;
      border-radius: .125em;
      transform: rotate(45deg);
      background: currentcolor;
      content: ''
    }
    
    &:after { transform: rotate(-45deg); }
  }

  .close:hover {
    background-color: var(--background-button) ;
  }

  .add-button {
    padding: 0;
    margin: 0;
    margin-left: 8px;
    margin-right: 8px;
    width: 17px;
    height: 17px;
    background-color: var(--invisible);
    border: 0;
    border-radius: 50%;
  }

  .add-button:hover {
    background-color: var(--background-button);
  }

  .new_todo {
    background-color: var(--background-textarea-new-todo)
  }

.inv {
  width: 20px; height: 20px;
  color: var(--invisible);
  background-color: var(--invisible);
  border: 0;
}
.inv:hover {
  background-color: var(--invisible);
}